<div class="hidden xl:block bg-purple text-white py-1">
    <div class="mx-auto lg:w-11/12 xl:w-10/12 max-w-screen-2xl">
        <div class="flex items-center justify-between">
            <div class="flex items-center space-x-1">
                <div class="flex items-center">
                    <img class="mr-1" src="/images/secure_mc.svg" alt="secure">
                    <p class="font-bold text-sm">Compras seguras online <span class="inline-block ml-1">|</span></p>
                </div>
                <div class="flex items-center">
                    <img class="mr-1" src="/images/wallet_mc.svg" alt="wallet">
                    <p class="font-bold text-sm">Pago contra entrega <span class="inline-block ml-1">|</span></p>
                </div>
                <div class="flex items-center">
                    <img class="mr-1" src="/images/truck_mc.svg" alt="truck">
                    <p class="font-bold text-sm">Entregas el mismo día</p>
                </div>
            </div>
            <div class="flex items-center space-x-1">
                <div>
                    <p class="font-bold text-sm">Llámanos <span class="ml-1">3009108496 <span
                                class="inline-block mx-2">|</span></span></p>
                </div>
                <div class="flex items-center">
                    <p class="font-bold text-sm mr-2">Escribenos</p>
                    <ul class="flex items-center justify-between space-x-2">
                        <li>
                            <a href="https://www.youtube.com/watch?v=gchln4oix68" target="_blank">
                                <img src="/images/youtube_mc.svg" alt="youtube">
                            </a>
                        </li>
                        <li>
                            <a href="https://es-la.facebook.com/LaikaUniverso/" target="_blank">
                                <img src="/images/facebook_mc.svg" alt="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/laikamascotas/?hl=es-la" target="_blank">
                                <img src="/images/instagram_mc.svg" alt="instagram">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>