{{ define "main" }}
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <a href="#">
                <img src="/images/banner-1.jpg" alt="banner 1">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#">
                <img src="/images/banner-2.jpg" alt="banner 2">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#">
                <img src="/images/banner-3.jpg" alt="banner 3">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#">
                <img src="/images/banner-4.png" alt="banner 4">
            </a>
        </div>
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
</div>
<section>
    <div class="mx-auto w-11/12 lg:w-10/12 max-w-screen-2xl border-b-2 border-grey py-6">
        <h2 class="font-bold text-lg xl:text-xl">Categorías</h2>
        <div class="swiper2 overflow-x-hidden px-8 2xl:px-8 mt-10">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <a class="font-bold grid place-items-center" href="#">
                        <img class="w-24 h-24 rounded-full" src="/images/navidad.jpeg" alt="navidad">
                        <p class="mt-1">Navidad</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="font-bold grid place-items-center text-center" href="#">
                        <img class="w-24 h-24 rounded-full" src="/images/alimento.png" alt="alimento">
                        <p class="mt-1">Alimento</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="font-bold grid place-items-center text-center" href="#">
                        <img class="w-24 h-24 rounded-full" src="/images/snacks.png" alt="snacks">
                        <p class="mt-1">Snacks</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="font-bold grid place-items-center text-center" href="#">
                        <img class="w-24 h-24 rounded-full" src="/images/farmapet.png" alt="farmapet">
                        <p class="mt-1">farmapet</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="font-bold grid place-items-center text-center" href="#">
                        <img class="w-24 h-24 rounded-full" src="/images/cuidado-higiene.png" alt="cuidado higiene">
                        <p class="mt-1">Cuidado e higiene</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="font-bold grid place-items-center text-center" href="#">
                        <img class="w-24 h-24 rounded-full" src="/images/juguetes.png" alt="juguetes">
                        <p class="mt-1">Juguetes</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="font-bold grid place-items-center text-center" href="#">
                        <img class="w-24 h-24 rounded-full" src="/images/accesorios.png" alt="Accesorios">
                        <p class="mt-1">Accesorios</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mx-auto w-11/12 lg:w-10/12 max-w-screen-2xl border-b-2 border-grey py-6">
        <h2 class="font-bold text-lg xl:text-xl">Encuentra todo para tus peludos en un solo lugar</h2>
        <div class="mx-auto w-11/12 xl:w-10/12">
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-y-8 lg:gap-x-8 xl:gap-x-12 mt-8 lg:mt-10">
                <div class="text-center">
                    <img class="mx-auto w-16 h-16 rounded-full" src="/images/delivery.png" alt="delivery">
                    <h3 class="xl:text-lg font-bold mt-1">Entregas el mismo día</h3>
                    <p class="font-bold text-sm mt-1">Entregamos todo lo que necesitas, cuando lo necesitas</p>
                </div>
                <div class="text-center">
                    <img class="mx-auto w-16 h-16 rounded-full" src="/images/secure_payment.png" alt="secure payment">
                    <h3 class="xl:text-lg font-bold mt-1">Pago online o contra entrega</h3>
                    <p class="font-bold text-sm mt-1">Escoge tu método de pago.¡No te preocupes! contamos con pasarelas
                        de pagos certificadas y seguras</p>
                </div>
                <div
                    class="text-center md:col-start-1 md:col-end-3 lg:col-start-1 lg:col-end-3 xl:col-start-3 xl:col-end-4">
                    <img class="mx-auto w-16 h-16 rounded-full" src="/images/all_for_pets.png" alt="all for pets">
                    <h3 class="xl:text-lg font-bold mt-1">Todo lo que necesitas</h3>
                    <p class="font-bold text-sm mt-1">Contamos con más de 4.000 productos y servicios. Encuentra todo lo
                        que necesitas para tu peludo</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mx-auto w-11/12 lg:w-10/12 max-w-screen-2xl border-b-2 border-grey py-6">
        <h2 class="font-bold text-lg xl:text-xl">¡Más de 100 marcas disponibles!</h2>
        <div class="mx-auto w-11/12 xl:w-10/12">
            <div class="grid grid-cols-2 md:grid-cols-12 lg:grid-cols-4 mt-10">
                <a class="border border-grey p-6 md:col-start-1 md:col-end-5 lg:col-start-1 lg:col-end-2" href="#">
                    <img class="mx-auto w-32 h-32" src="/images/hills_circulo4.png" alt="hills">
                </a>
                <a class="border border-grey p-6 md:col-start-5 md:col-end-9 lg:col-start-2 lg:col-end-3" href="#">
                    <img class="mx-auto w-32 h-32" src="/images/WHOLE_BARF.png" alt="WHOLE BARF">
                </a>
                <a class="border border-grey p-6 md:col-start-9 md:col-end-13 lg:col-start-3 lg:col-end-4" href="#">
                    <img class="mx-auto w-32 h-32" src="/images/SALVAJE__FOOD.png" alt="SALVAJE FOOD">
                </a>
                <a class="border border-grey p-6 md:col-start-1 md:col-end-5 lg:col-start-4 lg:col-end-5" href="#">
                    <img class="mx-auto w-32 h-32" src="/images/CANITO.png" alt="CANITO">
                </a>
                <a class="border border-grey p-6 md:col-start-5 md:col-end-9 lg:col-start-1 lg:col-end-2" href="#">
                    <img class="mx-auto w-32 h-32" src="/images/total_max_circulo2.png" alt="total max">
                </a>
                <a class="border border-grey p-6 md:col-start-9 md:col-end-13 lg:col-start-2 lg:col-end-3" href="#">
                    <img class="mx-auto w-32 h-32" src="/images/EQUILIBRIO_CIRCULO2.png" alt="EQUILIBRIO">
                </a>
                <a class="border border-grey p-6 md:col-start-3 md:col-end-7 lg:col-start-3 lg:col-end-4" href="#">
                    <img class="mx-auto w-32 h-32" src="/images/eukanuba_circulo1.png" alt="eucanuba">
                </a>
                <a class="border border-grey p-6 md:col-start-7 md:col-end-11 lg:col-start-4 lg:col-end-5" href="#">
                    <img class="mx-auto w-32 h-32" src="/images/ROYAL_CANIN.png" alt="ROYAL CANIN">
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mx-auto w-11/12 lg:w-10/12 max-w-screen-2xl border-b-2 border-grey py-6">
        <h2 class="font-bold text-lg xl:text-xl">Favoritos Laika</h2>
        <!-- Slider main container -->
        <div class="swiper3 overflow-x-hidden mt-10 xl:mt-12">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div>
                        <div class="pt-4 pb-1 px-3 border border-grey rounded flex flex-col justify-between"
                            style="height: 430px;">
                            <img class="mx-auto h-60" src="/images/favorite-1.jpg" alt="favorite 1">
                            <h3 class="font-bold text-lg xl:text-xl">Hills Canine Treats Chicken</h3>
                            <div class="flex mt-1 text-sm space-x-1">
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                            </div>
                            <span
                                class="block mt-1 font-bold text-xl text-red-dark border-b border-grey pb-1">$16.800</span>
                            <div class="flex space-x-3 mt-1">
                                <span class="inline-block font-bold text-xl text-red-dark">$14.280</span>
                                <div class="text-center">
                                    <img class="h-2 mx-auto" src="/images/laikamemeber.svg" alt="laikamemeber">
                                    <a class="inline-block uppercase bg-yellow font-black bg-yellow-400 py-1 px-2 rounded-lg"
                                        href="#" style="font-size: 8px;">Adquíerela Ya</a>
                                </div>
                            </div>
                        </div>
                        <a class="block font-bold xl:text-xl text-white bg-purple py-3 text-center rounded-lg"
                            href="#">Agregar
                            al carrito</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <div class="pt-4 pb-1 px-3 border border-grey rounded flex flex-col justify-between"
                            style="height: 430px;">
                            <img class="mx-auto h-60" src="/images/favorite-2.png" alt="favorite 2">
                            <h3 class="font-bold text-lg xl:text-xl">Bocaditos CanAmor</h3>
                            <div class="flex mt-1 text-sm space-x-1">
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                            </div>
                            <span
                                class="block mt-1 font-bold text-xl text-red-dark border-b border-grey pb-1">$16.800</span>
                            <div class="flex space-x-3 mt-1">
                                <span class="inline-block font-bold text-xl text-red-dark">$14.280</span>
                                <div class="text-center">
                                    <img class="h-2 mx-auto" src="/images/laikamemeber.svg" alt="laikamemeber">
                                    <a class="inline-block uppercase bg-yellow font-black bg-yellow-400 py-1 px-2 rounded-lg"
                                        href="#" style="font-size: 8px;">Adquíerela Ya</a>
                                </div>
                            </div>
                        </div>
                        <a class="block font-bold xl:text-xl text-white bg-purple py-3 text-center rounded-lg"
                            href="#">Agregar
                            al carrito</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <div class="pt-4 pb-1 px-3 border border-grey rounded flex flex-col justify-between"
                            style="height: 430px;">
                            <img class="mx-auto h-60" src="/images/favorite-3.png" alt="favorite 3">
                            <h3 class="font-bold text-lg xl:text-xl">Smartbones unidad smartsticks dental</h3>
                            <div class="flex mt-1 text-sm space-x-1">
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                            </div>
                            <span
                                class="block mt-1 font-bold text-xl text-red-dark border-b border-grey pb-1">$16.800</span>
                            <div class="flex space-x-3 mt-1">
                                <span class="inline-block font-bold text-xl text-red-dark">$14.280</span>
                                <div class="text-center">
                                    <img class="h-2 mx-auto" src="/images/laikamemeber.svg" alt="laikamemeber">
                                    <a class="inline-block uppercase bg-yellow font-black bg-yellow-400 py-1 px-2 rounded-lg"
                                        href="#" style="font-size: 8px;">Adquíerela Ya</a>
                                </div>
                            </div>
                        </div>
                        <a class="block font-bold xl:text-xl text-white bg-purple py-3 text-center rounded-lg"
                            href="#">Agregar
                            al carrito</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <div class="pt-4 pb-1 px-3 border border-grey rounded flex flex-col justify-between"
                            style="height: 430px;">
                            <img class="mx-auto h-60" src="/images/favorite-4.png" alt="favorite 4">
                            <h3 class="font-bold text-lg xl:text-xl">Sheltie Sticks Barras De Zanahoria</h3>
                            <div class="flex mt-1 text-sm space-x-1">
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                            </div>
                            <span
                                class="block mt-1 font-bold text-xl text-red-dark border-b border-grey pb-1">$16.800</span>
                            <div class="flex space-x-3 mt-1">
                                <span class="inline-block font-bold text-xl text-red-dark">$14.280</span>
                                <div class="text-center">
                                    <img class="h-2 mx-auto" src="/images/laikamemeber.svg" alt="laikamemeber">
                                    <a class="inline-block uppercase bg-yellow font-black bg-yellow-400 py-1 px-2 rounded-lg"
                                        href="#" style="font-size: 8px;">Adquíerela Ya</a>
                                </div>
                            </div>
                        </div>
                        <a class="block font-bold xl:text-xl text-white bg-purple py-3 text-center rounded-lg"
                            href="#">Agregar
                            al carrito</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <div class="pt-4 pb-1 px-3 border border-grey rounded flex flex-col justify-between"
                            style="height: 430px;">
                            <img class="mx-auto h-60" src="/images/favorite-5.jpg" alt="favorite 5">
                            <h3 class="font-bold text-lg xl:text-xl">Pedigree - Mini Biscuit Snack Perro Cachorro</h3>
                            <div class="flex mt-1 text-sm space-x-1">
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                            </div>
                            <span
                                class="block mt-1 font-bold text-xl text-red-dark border-b border-grey pb-1">$16.800</span>
                            <div class="flex space-x-3 mt-1">
                                <span class="inline-block font-bold text-xl text-red-dark">$14.280</span>
                                <div class="text-center">
                                    <img class="h-2 mx-auto" src="/images/laikamemeber.svg" alt="laikamemeber">
                                    <a class="inline-block uppercase bg-yellow font-black bg-yellow-400 py-1 px-2 rounded-lg"
                                        href="#" style="font-size: 8px;">Adquíerela Ya</a>
                                </div>
                            </div>
                        </div>
                        <a class="block font-bold xl:text-xl text-white bg-purple py-3 text-center rounded-lg"
                            href="#">Agregar
                            al carrito</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <div class="pt-4 pb-1 px-3 border border-grey rounded flex flex-col justify-between"
                            style="height: 430px;">
                            <img class="mx-auto h-60" src="/images/favorite-6.jpg" alt="favorite 6">
                            <h3 class="font-bold text-lg xl:text-xl">Chunky Deli Caprichos Tocineta Snack</h3>
                            <div class="flex mt-1 text-sm space-x-1">
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                            </div>
                            <span
                                class="block mt-1 font-bold text-xl text-red-dark border-b border-grey pb-1">$16.800</span>
                            <div class="flex space-x-3 mt-1">
                                <span class="inline-block font-bold text-xl text-red-dark">$14.280</span>
                                <div class="text-center">
                                    <img class="h-2 mx-auto" src="/images/laikamemeber.svg" alt="laikamemeber">
                                    <a class="inline-block uppercase bg-yellow font-black bg-yellow-400 py-1 px-2 rounded-lg"
                                        href="#" style="font-size: 8px;">Adquíerela Ya</a>
                                </div>
                            </div>
                        </div>
                        <a class="block font-bold xl:text-xl text-white bg-purple py-3 text-center rounded-lg"
                            href="#">Agregar
                            al carrito</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <div class="pt-4 pb-1 px-3 border border-grey rounded flex flex-col justify-between"
                            style="height: 430px;">
                            <img class="mx-auto h-60" src="/images/favorite-7.jpg" alt="favorite 7">
                            <h3 class="font-bold text-lg xl:text-xl">Aikos Gomitas Con Sabor A Carne</h3>
                            <div class="flex mt-1 text-sm space-x-1">
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                            </div>
                            <span
                                class="block mt-1 font-bold text-xl text-red-dark border-b border-grey pb-1">$16.800</span>
                            <div class="flex space-x-3 mt-1">
                                <span class="inline-block font-bold text-xl text-red-dark">$14.280</span>
                                <div class="text-center">
                                    <img class="h-2 mx-auto" src="/images/laikamemeber.svg" alt="laikamemeber">
                                    <a class="inline-block uppercase bg-yellow font-black bg-yellow-400 py-1 px-2 rounded-lg"
                                        href="#" style="font-size: 8px;">Adquíerela Ya</a>
                                </div>
                            </div>
                        </div>
                        <a class="block font-bold xl:text-xl text-white bg-purple py-3 text-center rounded-lg"
                            href="#">Agregar
                            al carrito</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <div class="pt-4 pb-1 px-3 border border-grey rounded flex flex-col justify-between"
                            style="height: 430px;">
                            <img class="mx-auto h-60" src="/images/favorite-8.jpg" alt="favorite 8">
                            <h3 class="font-bold text-lg xl:text-xl">Sheltie Snacks Carne Asada</h3>
                            <div class="flex mt-1 text-sm space-x-1">
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                            </div>
                            <span
                                class="block mt-1 font-bold text-xl text-red-dark border-b border-grey pb-1">$16.800</span>
                            <div class="flex space-x-3 mt-1">
                                <span class="inline-block font-bold text-xl text-red-dark">$14.280</span>
                                <div class="text-center">
                                    <img class="h-2 mx-auto" src="/images/laikamemeber.svg" alt="laikamemeber">
                                    <a class="inline-block uppercase bg-yellow font-black bg-yellow-400 py-1 px-2 rounded-lg"
                                        href="#" style="font-size: 8px;">Adquíerela Ya</a>
                                </div>
                            </div>
                        </div>
                        <a class="block font-bold xl:text-xl text-white bg-purple py-3 text-center rounded-lg"
                            href="#">Agregar
                            al carrito</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <div class="pt-4 pb-1 px-3 border border-grey rounded flex flex-col justify-between"
                            style="height: 430px;">
                            <img class="mx-auto h-60" src="/images/favorite-9.jpg" alt="favorite 9">
                            <h3 class="font-bold text-lg xl:text-xl">Pedigree - Alimento Húmedo Para Perro Adulto</h3>
                            <div class="flex mt-1 text-sm space-x-1">
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                                <i class="fas fa-star text-yellow"></i>
                            </div>
                            <span
                                class="block mt-1 font-bold text-xl text-red-dark border-b border-grey pb-1">$16.800</span>
                            <div class="flex space-x-3 mt-1">
                                <span class="inline-block font-bold text-xl text-red-dark">$14.280</span>
                                <div class="text-center">
                                    <img class="h-2 mx-auto" src="/images/laikamemeber.svg" alt="laikamemeber">
                                    <a class="inline-block uppercase bg-yellow font-black bg-yellow-400 py-1 px-2 rounded-lg"
                                        href="#" style="font-size: 8px;">Adquíerela Ya</a>
                                </div>
                            </div>
                        </div>
                        <a class="block font-bold xl:text-xl text-white bg-purple py-3 text-center rounded-lg"
                            href="#">Agregar
                            al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-12 lg:pt-16">
    <div class="mx-auto w-11/12 lg:w-10/12 max-w-screen-2xl relative text-white rounded-xl h-80 overflow-y-hidden pt-12"
        style="background: linear-gradient(
        45deg,#533675 0,#7b4fad 15%,#9b64d9 30%,#b273f9 50%,#9b64d9 70%,#7b4fad 85%,#533675 100%);">
        <div class="grid grid-cols-12">
            <div class="col-start-2 lg:col-start-3 col-end-8">
                <h2 class="text-2xl lg:text-3xl xl:text-4xl">Para una mejor <span class="font-bold">experiencia</span> <br> para ti
                    y tu <span class="font-bold">peludo descarga la <br> app.</span></h2>
                    <div class="flex flex-wrap space-x-2 space-y-2 lg:space-x-1 lg:space-y-0 items-center justify-center lg:justify-start mt-6 xl:mt-8">
                        <a href="#">
                            <img class="h-8 lg:h-12" src="/images/APP.png" alt="app">
                        </a>
                        <a href="#">
                            <img class="h-8 lg:h-12" src="/images/GOOGLEP.png" alt="GOOGLEP">
                        </a>
                        <a href="#">
                            <img class="h-8 lg:h-12" src="/images/huaweiGallery.png" alt="huaweiGallery">
                        </a>
                    </div>
            </div>
            <div class="col-start-8 col-end-13">
                <img class="mx-auto" src="/images/imagen_phone_r.png" alt="">
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ define "head" }}
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
{{ $swiper := resources.Get "styles/swiper.css" | toCSS | postCSS | minify }}
<link rel="stylesheet" href="{{ $swiper.Permalink }}">
{{ end }}
{{ define "js" }}
{{ $swiper := resources.Get "js/utils/swiper.js" | js.Build (dict "minify" true) }}
<script src="{{ $swiper.Permalink }}"></script>r
{{ end }}